$colors--orange: #eca539;
$colors--red: #c00e20;
$colors--red-light: #f22539;
$colors--black: #353535;
$colors--grey: #5e5e5e;
$colors--grey-light: #bfbfbf;
$colors--background: #f9f9f9;
$colors--white: #ffffff;
$fonts--lato: 'Lato', sans-serif;
$fonts--montserrat: 'Montserrat', sans-serif;
$fonts--fw-regular: 500;
$fonts--fw-bold: 700;
$border--radius: 5px;
